<!DOCTYPE HTML>
<html>
	<head>
		<title>SoftwareDesign_10조</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../../static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../../static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Header -->
					<header id="header">
						<div class="inner">
							<!-- Logo -->
								<a href="/" class="logo">
									<span class="symbol"></span><span class="title">해줌 (help zoom)</span>
								</a>
							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>
                        </div>
                    </header>
				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="/">홈</a></li>
							<li><a href="/">마이페이지</a></li>
							<li><a href="/post_board/1">의뢰게시판</a></li>
							<li><a href="/select_helper">도우미 신청</a></li>
							<li><a href="/matching_board/{{ checkType }}/1">도우미 요청 목록</a></li>
						</ul>
					</nav>
                <!-- Main -->
                    <div id="main">
						<div class="inner">
							<!-- Form -->
                            <header>
                                <h1>어떤 도움이 필요하신가요?</h1>
                                <p>세 가지중 하나의 도움에 대한 도우미를 요청할 수 있습니다. <br/>
                                    도우미가 요청을 승낙하면 매칭이 완료되고, 그 이후에 메시지로 상세 내용을 전달드립니다. <br/>
                                    매칭완료 이전에 마이페이지에서 신청을 취소하실 수 있습니다. 매칭완료 이후에는 신청 취소가 불가능한 점 유의 바랍니다.
                                </p>
                            </header>

                            <section class="tiles">
                                <article class="style1">
                                    <span class="image">
                                        <img src="../../static/images/pic01.jpg" alt="" />
                                    </span>
                                    <a href="/select_helper/accompany">
                                        <h2 style="font-weight: 300;">병원동행 도우미</h2>
                                        <div class="content">
                                            <p>병원동행 도우미가 필요할 경우 신청을 진행해주세요.</p>
                                        </div>
                                    </a>
                                </article>
                                <article class="style2">
                                    <span class="image">
                                        <img src="../../static/images/pic02.jpg" alt="" />
                                    </span>
                                    <a href="/select_helper/counsel">
                                        <h2>심리상담 도우미</h2>
                                        <div class="content">
                                            <p>심리상담 도우미가 필요할 경우 신청을 진행해주세요.</p>
                                        </div>
                                    </a>
                                </article>
                                <article class="style3">
                                    <span class="image">
                                        <img src="../../static/images/pic03.jpg" alt="" />
                                    </span>
                                    <a href="/select_helper/safe">
                                        <h2>안전점검 도우미</h2>
                                        <div class="content">
                                            <p>안전점검 도우미가 필요할 경우 신청을 진행해주세요.</p>
                                        </div>
                                    </a>
                                </article>
                            </section>
                            <div style="margin-top: 3rem;">
                                <a href="javascript:window.history.back();" class="button" style="float: right;">되돌아가기</a>
                            </div>
                        </div>

                    </div>

                <!-- Footer -->
					<footer id="footer">
						<div class="inner">
                            <section>
                                <h2>MEMBER</h2>
                                <ul class="icons">
                                    <li style="font-size: 1em;"><span class="label">2019113916 김동윤</span></li>
                                    <li style="font-size: 1em;"><span class="label">2019115356 김주형</span></li>
                                    <li style="font-size: 1em;"><span class="label">2019114545 장우석</span></li></br>
									<li style="font-size: 1em;"><span class="label">2021111849 송혜경</span></li>
                                    <li style="font-size: 1em;"><span class="label">2021111371 제유나</span></li>
                                </ul>
                            </section>
                            <section>
                                <h2>MORE INFO</h2>
                                <ul class="icons">
                                    <li><a href="https://github.com/sosschs9/2022_SoftwareDesign.git"><span class="label">GitHub</span></a></li>
                                    <li><a href="https://www.notion.so/3e864a7ce7974c50864f1c3edd85c650"><span class="label">Notion</span></a></li>
                                </ul>
                            </section>
						</div>
					</footer>
			</div>

		<!-- Scripts -->
			<script src="../../static/assets/js/jquery.min.js"></script>
			<script src="../../static/assets/js/browser.min.js"></script>
			<script src="../../static/assets/js/breakpoints.min.js"></script>
			<script src="../../static/assets/js/util.js"></script>
			<script src="../../static/assets/js/main.js"></script>

    </body>
</html>