<!DOCTYPE HTML>
<html>
	<head>
		<title>SoftwareDesign_10조</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Header -->
					<header id="header">
						<div class="inner">
							<!-- Logo -->
								<a href="main.html" class="logo">
									<span class="symbol"></span><span class="title">해줌 (help zoom)</span>
								</a>
							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>
                        </div>
                    </header>
				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="main.html">홈</a></li>
							<li><a href="main.html">마이페이지</a></li>
							<li><a href="postBoard.html">의뢰게시판</a></li>
							<li><a href="newMatching.html">도우미 신청</a></li>
							<li><a href="matchingBoard.html">도우미 요청 목록</a></li>
						</ul>
					</nav>
                <!-- Main -->
                    <div id="main">
						<div class="inner">
							<!-- Form -->
								<section>
                                    <h1>심리상담 도우미 신청</h1>
                                    <p>도우미 신청을 위해서는 아래에 해당하는 내용을 모두 기입하셔야 합니다.</p>
									<form method="post" action="#">
										<div class="row gtr-uniform">
                                            <div class="col-12-xsmall">
                                                <label style="font-size: 1rem;font-weight: 200;">날짜:
                                                    <input type="date" name="demo-date" id="demo-date" max="2024-12-31" min="2022-11-01" value="2022-11-21"/>
                                                </label>
											</div>
 											<div class="col-6 col-12-xsmall">
                                                <label style="font-size: 1rem;font-weight: 200;">시간:
                                                    <input type="time" name="demo-time" id="demo-time" value=""/>
                                                </label>
											</div>
                                            <div class="col-6 col-12-xsmall">
												<input type="text" name="demo-reason" id="demo-reason" value="" placeholder="상담분야 "/>
											</div>
											<div class="col-6 col-12">
												<input type="text" name="demo-location" id="demo-location" value="" placeholder="상담 장소 " />
											</div>

                                            <div class="col-12">
												<ul class="actions">
													<li><input type="submit" value="도우미 신청" class="primary" /></li>
													<li><input type="reset" value="초기화" /></li>
												</ul>
											</div>
                                        </div>
                                    </form>
                                </section>
                        </div>
                    </div>

                <!-- Footer -->
					<footer id="footer">
						<div class="inner">
                            <section>
                                <h2>MEMBER</h2>
                                <ul class="icons">
                                    <li style="font-size: 1em;"><span class="label">2019113916 김동윤</span></li>
                                    <li style="font-size: 1em;"><span class="label">2019115356 김주형</span></li>
                                    <li style="font-size: 1em;"><span class="label">2019114545 장우석</span></li></br>
									<li style="font-size: 1em;"><span class="label">2021111849 송혜경</span></li>
                                    <li style="font-size: 1em;"><span class="label">2021111371 제유나</span></li>
                                </ul>
                            </section>
                            <section>
                                <h2>MORE INFO</h2>
                                <ul class="icons">
                                    <li><a href="https://github.com/sosschs9/2022_SoftwareDesign.git"><span class="label">GitHub</span></a></li>
                                    <li><a href="https://www.notion.so/3e864a7ce7974c50864f1c3edd85c650"><span class="label">Notion</span></a></li>
                                </ul>
                            </section>
						</div>
					</footer>
			</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

    </body>
</html>