<!DOCTYPE HTML>
<html>
	<head>
		<title>SoftwareDesign_10조</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{url_for('static', filename='/assets/css/main.css')}}" />
		<noscript><link rel="stylesheet" href="{{url_for('static', filename='/assets/css/noscript.css')}}" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="/dev/{{userKey}}" class="logo">
									<span class="symbol"></span><span class="title">10조 OPP Service</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="/dev/{{userKey}}">홈</a></li>
							<li><a href="/dev/post_board/1/{{userKey}}">의뢰게시판</a></li>
							<li><a href="/dev/select_helper/{{userKey}}">도우미 신청</a></li>
							{% if checkType %}
							<li><a href="/dev/matching_board/{{ checkType }}/1/{{userKey}}">도우미 요청 목록</a></li>
							{% endif %}
							{% if isLogin %}
								<li><a href="/dev/{{userKey}}">마이페이지</a></li>
								<li><a href="/dev/logout">로그아웃</a></li>
							{% else %}
								<li><a href="/dev/login_page">로그인</a></li>
							{% endif %}
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>해줌 (help zoom)</h1>
								<p>해줌은 혼자서 해결하기 힘든 부분이나 전문가의 손길이 필요한 부분을 도와줄 수 있는 1인 가구 맞춤형 서비스입니다. <br/>
									사소한 도움이 필요한 경우 이웃끼리 서로 도와주기 위해 의뢰 게시글을 작성할 수 있고, <br/>
									전문가의 도움이 필요한 경우 사이트에서 승인을 받은 전문 도우미와 신청자를 1:1로 매칭해주는 기능을 제공합니다.</p>
							</header>
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img src="{{ url_for('static', filename='/images/pic01.jpg') }}" alt="" />
									</span>
									<a href="/dev/post_board/1/{{userKey}}">
										<h2>의뢰 게시판</h2>
										<div class="content">
											<p>의뢰 게시판을 통해 주변 이웃들에게 도움의 손길을 건내주세요.<br/> * 해당 페이지에서 의뢰 게시글을 작성할 수 있습니다.</p>
										</div>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="{{ url_for('static', filename='/images/pic02.jpg') }}" alt="" />
									</span>
									<a href="/dev/select_helper/{{userKey}}">
										<h2>도우미 요청</h2>
										<div class="content">
											<p>병원동행, 심리상담, 안전점검이 필요한 경우 해당 페이지에서 전문 도우미를 요청할 수 있습니다.</p>
										</div>
									</a>
								</article>
								{% if checkType %}
									<article class="style3">
										<span class="image">
											<img src="{{ url_for('static', filename='/images/pic03.jpg') }}" alt="" />
										</span>
										<a href="/dev/matching_board/{{ checkType }}/1/{{userKey}}">
											<h2>도우미 요청 목록</h2>
											<div class="content">
												<p>도우미 요청 목록을 확인하고 원하는 매칭을 진행할 수 있습니다. <br/> * 해당 페이지는 도우미 전용 페이지입니다. * </p>
											</div>
										</a>
									</article>
								{% endif %}
								{% if isLogin %}
									<article class="style5">
										<span class="image">
											<img src="{{ url_for('static', filename='/images/pic05.jpg') }}" alt="" />
										</span>
										<a href="/dev/{{userKey}}">
											<h2>마이페이지</h2>
											<div class="content">
												<p>* 준비중입니다. *</p>
											</div>
										</a>
									</article>
									<article class="style6">
										<span class="image">
											<img src="{{ url_for('static', filename='/images/pic06.jpg') }}" alt="" />
										</span>
										<a href="/dev/logout">
											<h2>로그아웃</h2>
											<div class="content">
												<p></p>
											</div>
										</a>
									</article>
								{% else %}
									<article class="style4">
										<span class="image">
											<img src="{{ url_for('static', filename='/images/pic04.jpg') }}" alt="" />
										</span>
										<a href="/dev/login_page">
											<h2>로그인</h2>
											<div class="content">
												<p>해줌 서비스를 이용하기 위해서 아이디와 비밀번호를 입력해 로그인 해주세요.</p>
											</div>
										</a>
									</article>
								{% endif %}
							</section>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
                            <section>
                                <h2>MEMBER</h2>
                                <ul class="icons">
                                    <li style="font-size: 1em;"><span class="label">2019113916 김동윤</span></li>
                                    <li style="font-size: 1em;"><span class="label">2019115356 김주형</span></li>
                                    <li style="font-size: 1em;"><span class="label">2019114545 장우석</span></li></br>
									<li style="font-size: 1em;"><span class="label">2021111849 송혜경</span></li>
                                    <li style="font-size: 1em;"><span class="label">2021111371 제유나</span></li>
                                </ul>
                            </section>
                            <section>
                                <h2>MORE INFO</h2>
                                <ul class="icons">
                                    <li><a href="https://github.com/sosschs9/2022_SoftwareDesign.git"><span class="label">GitHub</span></a></li>
                                    <li><a href="https://www.notion.so/3e864a7ce7974c50864f1c3edd85c650"><span class="label">Notion</span></a></li>
                                </ul>
                            </section>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
		<script src="{{ url_for('static', filename='/assets/js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='/assets/js/browser.min.js') }}"></script>
		<script src="{{ url_for('static', filename='/assets/js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='/assets/js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='/assets/js/main.js') }}"></script>
	</body>
</html>