<!DOCTYPE HTML>
<html>
	<head>
		<title>SoftwareDesign_10조</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="main.html" class="logo">
									<span class="symbol"></span><span class="title">10조 OPP Service</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="main.html">홈</a></li>
							<li><a href="main.html">마이페이지</a></li>
							<li><a href="postBoard.html">의뢰게시판</a></li>
							<li><a href="newMatching.html">도우미 신청</a></li>
							<li><a href="matchingBoard.html">도우미 요청 목록</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>해줌 (help zoom)</h1>
								<p>서비스 설명 내용란</p>
							</header>
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img src="../images/pic01.jpg" alt="" />
									</span>
									<a href="postBoard.html">
										<h2>의뢰 게시판</h2>
										<div class="content">
											<p>의뢰 게시글 작성 가능합니당</p>
										</div>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="../images/pic02.jpg" alt="" />
									</span>
									<a href="newMatching.html">
										<h2>도우미 요청</h2>
										<div class="content">
											<p>도우미 요청 가능합니당</p>
										</div>
									</a>
								</article>
								<article class="style3">
									<span class="image">
										<img src="../images/pic03.jpg" alt="" />
									</span>
									<a href="matchingBoard.html">
										<h2>도우미 요청 목록</h2>
										<div class="content">
											<p>도우미들이 요청 목록 보고 신청가능</p>
										</div>
									</a>
								</article>
							</section>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
                            <section>
                                <h2>MEMBER</h2>
                                <ul class="icons">
                                    <li style="font-size: 1em;"><span class="label">2019113916 김동윤</span></li>
                                    <li style="font-size: 1em;"><span class="label">2019115356 김주형</span></li>
                                    <li style="font-size: 1em;"><span class="label">2019114545 장우석</span></li></br>
									<li style="font-size: 1em;"><span class="label">2021111849 송혜경</span></li>
                                    <li style="font-size: 1em;"><span class="label">2021111371 제유나</span></li>
                                </ul>
                            </section>
                            <section>
                                <h2>MORE INFO</h2>
                                <ul class="icons">
                                    <li><a href="https://github.com/sosschs9/2022_SoftwareDesign.git"><span class="label">GitHub</span></a></li>
                                    <li><a href="https://www.notion.so/3e864a7ce7974c50864f1c3edd85c650"><span class="label">Notion</span></a></li>
                                </ul>
                            </section>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

	</body>
</html>