<!DOCTYPE HTML>
<html>
	<head>
		<title>SoftwareDesign_10조</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../../static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../../static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Header -->
					<header id="header">
						<div class="inner">
							<!-- Logo -->
								<a href="/" class="logo">
									<span class="symbol"></span><span class="title">해줌 (help zoom)</span>
								</a>
							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>
                        </div>
                    </header>
				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="/">홈</a></li>
							<li><a href="/">마이페이지</a></li>
							<li><a href="/post_board/1">의뢰게시판</a></li>
							<li><a href="/select_helper">도우미 신청</a></li>
							<li><a href="/matching_board">도우미 요청 목록</a></li>
						</ul>
					</nav>
                <!-- Main -->
                    <div id="main">
						<div class="inner">
							<!-- 게시글 내용 -->
								<section>
                                    <h1>{{ post.getTitle() }}</h1>
                                    <p>작성자: {{ post.getWriterID() }} <br/>
										작성일자: {{ post.getWriteDate() }}</p>

                                    <h2>의뢰 내용</h2>
                                    <p>{{ post.getContents() }}</p>
                                    <hr>

									<div class="row">
										<div class="col-6 col-12-medium">
											<h2>위치</h2>
                                    		<p>{{ post.getAddress().detailAddress }}</p>
											<hr>

											<h2>연락방법</h2>
                                    		<p>{{ post.getContact() }}</p>
                                    		<hr>
										</div>
										<div class="col-6 col-12-medium">
                                    		<h2>날짜</h2>
                                    		<p>{{ post.getRequestDate() }}</p>
                                    		<hr>

											<h2>보수</h2>
                                    		<p>{{ post.getPay() }}</p>
                                    		<hr>
										</div>
									</div>

									<div style="height: 150px; width: auto;">
										{% if post.getWriterID() == userID %}
										<a href="{{ url_for( 'delete_post', post_id=post.getPostIdx() ) }}" class="button primary"
											onclick="if(!confirm('삭제하시면 복구할 수 없습니다.\n정말로 삭제하시겠습니까?')){return false;}">삭제</a>
										<a href="{{ url_for( 'modify_post', post_id=post.getPostIdx() )}}" class="button primary">수정</a>
										{% endif %}
									</div>

								<!-- 댓글 작성 -->
									<div>
										{{ post.getCommentCnt() }}개의 댓글이 있습니다.
										<form method="post" action="/post/{{ post.getPostIdx() }}">
											<textarea name="comment" id="comment" placeholder="댓글을 작성해주세요" rows="1"
												style="border:1px solid #aaa; border-radius:4px; padding:8px; margin-bottom:10px;"></textarea>
											<input type="submit" value="댓글 작성" class="primary" />
										</form>
									</div>

									<div>
										{% for comment in post.commentList %}
											<p style="margin:0px;">{{ comment.getContents() }}</p>
											<p style="font-size:1rem; color:#787878;">작성자: {{ comment.getWriterID() }} 작성일자: {{ comment.getWriteDate() }}</p>
										{% endfor %}
									</div>

									<div>
										<a href="/post_board/1" class="button" style="float: right;">되돌아가기</a>
									</div>


								</section>
                        </div>
                    </div>

                <!-- Footer -->
					<footer id="footer">
						<div class="inner">
                            <section>
                                <h2>MEMBER</h2>
                                <ul class="icons">
                                    <li style="font-size: 1em;"><span class="label">2019113916 김동윤</span></li>
                                    <li style="font-size: 1em;"><span class="label">2019115356 김주형</span></li>
                                    <li style="font-size: 1em;"><span class="label">2019114545 장우석</span></li></br>
									<li style="font-size: 1em;"><span class="label">2021111849 송혜경</span></li>
                                    <li style="font-size: 1em;"><span class="label">2021111371 제유나</span></li>
                                </ul>
                            </section>
                            <section>
                                <h2>MORE INFO</h2>
                                <ul class="icons">
                                    <li><a href="https://github.com/sosschs9/2022_SoftwareDesign.git"><span class="label">GitHub</span></a></li>
                                    <li><a href="https://www.notion.so/3e864a7ce7974c50864f1c3edd85c650"><span class="label">Notion</span></a></li>
                                </ul>
                            </section>
						</div>
					</footer>
			</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

    </body>
</html>